.login-wrapper {
    all: unset;
}

.login-container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
@keyframes gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animated-text {
    font-family: 'PezFont', sans-serif;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #0040ff, #8000ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientText 5s ease infinite;
}

@keyframes waveEffect {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.wavy-text span {
    display: inline-block;
    animation: waveEffect 1.5s infinite ease-in-out;
}

.wavy-text span:nth-child(1) { animation-delay: 0s; }
.wavy-text span:nth-child(2) { animation-delay: 0.1s; }
.wavy-text span:nth-child(3) { animation-delay: 0.2s; }
.wavy-text span:nth-child(4) { animation-delay: 0.3s; }
.wavy-text span:nth-child(5) { animation-delay: 0.4s; }
.wavy-text span:nth-child(6) { animation-delay: 0.5s; }
.wavy-text span:nth-child(7) { animation-delay: 0.6s; }

@keyframes flicker {
    0% { opacity: 0.1; text-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300, 0 0 15px #ff7300; }
    50% { opacity: 1; text-shadow: 0 0 10px #ffeb00, 0 0 20px #ffeb00, 0 0 30px #ffeb00; }
    100% { opacity: 0.1; text-shadow: 0 0 5px #ff7300, 0 0 10px #ff7300, 0 0 15px #ff7300; }
}


@font-face {
    font-family: 'PezFont';
    src: url('../fonts/PezFont-Zpe8.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PezFont';
    src: url('../fonts/PezFont-3lr6.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'western';
    src: url('../fonts/WesterngamesOutlineRegular-2yDv.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'arcade';
    src: url('../fonts/E4DigitalArcadeV2Regular-wZOw.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'evil';
    src: url('../fonts/Dangernight-vnZ5y.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cyber';
    src: url('../fonts/CyberformLaser-8Oa3B.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ninja';
    src: url('../fonts/NinjaGarden-ov1BB.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@keyframes gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.login-page .login-container {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .login-page .login-container h1 {
    font-family: 'PezFont', sans-serif !important;
    font-weight: normal;
    font-size: 150px;
    margin-bottom: 60px; 
    line-height: 1;
    padding-top: 2%;
  }
  
  .login-page .login-container h2 {
    font-family: 'western', sans-serif !important;
    font-weight: normal;
    font-size: 60px;
    color: #fffb00;
    text-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300, 0 0 30px #ff7300;
    animation: flicker 1s infinite alternate;
    padding-top: 0.8%;
    padding-bottom: 2%;
  }
  

.animated-text {
    font-family: 'PezFont', sans-serif;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffeb00, #47ff00, #00ffee, #0040ff, #8000ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientText 5s ease infinite;
}

.login-container form {
    background: #555;
    padding: 20px;
    box-shadow: inset 0 0 10px #000000, 0 0 20px #111;
    width: 320px;
    color: white;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-image: url('../images/brick\ blue.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    transform: scale(1.05); 
    outline: 4px solid #222; 
}

.login-container input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    padding: 10px 15px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 4px #111;
}

.login-container button:hover {
    background-color: #414f77;
}

.login-container h5 {
    font-size: 14px;
    color: #ffffff;
}
